@model landlorder.Models.Review

@{
    ViewBag.Title = @ViewBag.address + " new review | landlorder";
}



<div class="container">
    <div class="row">

        <div class="container">
            <div class="heading">
                <div class="heading-wrap">
                    <h3 class="logintitle text-center">Write A Review</h3>
                    <h4 class="title text-center">@ViewBag.address</h4>
                </div>
            </div>
        </div>


        <div class="col-lg-8">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="ratingsection well">
            <h4>Rating</h4>
            <hr />
            <div class="form-group overallrating">
                <label class="control-label col-md-5" for="rating">Overall Rating<br><span class="subtext"> </span></label>
                <div class="col-md-6">
                    <div class="stars">
                        @Html.RadioButtonFor(model => model.rating, 1, new { @class = "star-1", @id = "overall_star-1", @type = "radio" })
                        <label class="star-1" for="overall_star-1">1</label>
                        @Html.RadioButtonFor(model => model.rating, 2, new { @class = "star-2", @id = "overall_star-2", @type = "radio" })
                        <label class="star-2" for="overall_star-2">2</label>
                        @Html.RadioButtonFor(model => model.rating, 3, new { @class = "star-3", @id = "overall_star-3", @type = "radio" })
                        <label class="star-3" for="overall_star-3">3</label>
                        @Html.RadioButtonFor(model => model.rating, 4, new { @class = "star-4", @id = "overall_star-4", @type = "radio" })
                        <label class="star-4" for="overall_star-4">4</label>
                        @Html.RadioButtonFor(model => model.rating, 5, new { @class = "star-5", @id = "overall_star-5", @type = "radio" })
                        <label class="star-5" for="overall_star-5">5</label>
                        <span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5" for="rating">Repair<br><span class="subtext">Maintence & repairs are completed in a timely manner.</span></label>

                <div class="col-md-6">
                    <div class="stars">
                        @Html.RadioButtonFor(model => model.repairrating, 1, new { @class = "star-1", @id = "repair_star-1", @type = "radio" })
                        <label class="star-1" for="repair_star-1">1</label>
                        @Html.RadioButtonFor(model => model.repairrating, 2, new { @class = "star-2", @id = "repair_star-2", @type = "radio" })
                        <label class="star-2" for="repair_star-2">2</label>
                        @Html.RadioButtonFor(model => model.repairrating, 3, new { @class = "star-3", @id = "repair_star-3", @type = "radio" })
                        <label class="star-3" for="repair_star-3">3</label>
                        @Html.RadioButtonFor(model => model.repairrating, 4, new { @class = "star-4", @id = "repair_star-4", @type = "radio" })
                        <label class="star-4" for="repair_star-4">4</label>
                        @Html.RadioButtonFor(model => model.repairrating, 5, new { @class = "star-5", @id = "repair_star-5", @type = "radio" })
                        <label class="star-5" for="repair_star-5">5</label>
                        <span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.repairrating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5" for="rating">Communication<br><span class="subtext">Responds to tenant's needs timely and effectively; Communicates in a respectful manner.</span></label>
                <div class="col-md-6">
                    <div class="stars">
                        @Html.RadioButtonFor(model => model.communicationrating, 1, new { @class = "star-1", @id = "star-1", @type = "radio" })
                        <label class="star-1" for="star-1">1</label>
                        @Html.RadioButtonFor(model => model.communicationrating, 2, new { @class = "star-2", @id = "star-2", @type = "radio" })
                        <label class="star-2" for="star-2">2</label>
                        @Html.RadioButtonFor(model => model.communicationrating, 3, new { @class = "star-3", @id = "star-3", @type = "radio" })
                        <label class="star-3" for="star-3">3</label>
                        @Html.RadioButtonFor(model => model.communicationrating, 4, new { @class = "star-4", @id = "star-4", @type = "radio" })
                        <label class="star-4" for="star-4">4</label>
                        @Html.RadioButtonFor(model => model.communicationrating, 5, new { @class = "star-5", @id = "star-5", @type = "radio" })
                        <label class="star-5" for="star-5">5</label>
                        <span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.communicationrating, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="reviewcomponents">
            <div class="form-group">
                @Html.LabelFor(model => model.review1, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.review1, new { htmlAttributes = new { @class = "reviewbox", @placeholder = "Review" } })
                    @Html.ValidationMessageFor(model => model.review1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.landlordname, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.landlordname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Landlord Name" } })
                    @Html.ValidationMessageFor(model => model.landlordname, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.apartmentnum, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.apartmentnum, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apartment Number" } })
                    @Html.ValidationMessageFor(model => model.apartmentnum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.anonymous, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.anonymous, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-offset-3">
                    <div class="squaredThree">
                        <input type="checkbox" value="true" name="anonymous" id="squaredThree" />
                        <label for="squaredThree"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Submit Review" class="submitbutton" />
                </div>
            </div>


        </div>
    </div>

            }


        </div>

        <div class="col-md-4">

        </div>


      

    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



