@model landlorder.ViewModels.DetailsViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.address + " landlord reviews | landlorder";
}



<div class="review-section">
    <div class="container-fluid">
        <div class="row">

            <div class="content-block">
                <div class="detailsheading-wrap">
                    <div class="detail-items">
                        <div class="col-sm-10">
                            <h3 class="detailitem-title">@ViewBag.address</h3>
                        </div>
                        <div class="col-sm-2">
                            <p class="reviewlink">
                                @Html.ActionLink("Write a Review", "Create", new { id = Model.propertyID })
                            </p>
                        </div>
                    </div>
                    <hr />

                    <div class="detailitem-subitem">
                        <div class="col-sm-12">
                            <div class="detailitem-subitem ratings">
                                <h4>Ratings</h4>
                            </div>
                        </div>

                            <div class="overall col-sm-2">
                                <h3>@Html.DisplayFor(a => Model.overallRating)</h3>
                                <p>Landlord Overall</p>
                            </div>

                            <div class="stats">                                
                                <div class="statsitem col-xs-2">
                                    <h3>@Html.DisplayFor(a => Model.repairRating)</h3>
                                    <p>Repair</p>
                                </div>
                                <div class="statsitem col-xs-3">
                                    <h3>@Html.DisplayFor(a => Model.communicationRating)</h3>
                                    <p>Communication</p>
                                </div>
                                <div class="statsitem col-xs-2">
                                    <h3>@Html.DisplayFor(a => Model.numOfReviews)</h3>
                                    <p>Reviews</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="content-block">
                    <h4 class="rating-title">Reviews</h4>

                    <hr />

                    <div class="review-block">

                        @if (Model.PagedReviews.Count > 0)
                        {
                            foreach (var item in Model.PagedReviews)
                            {
                                
                                
                                string d1 = item.date.ToShortDateString();
                                <span class="date">@Html.DisplayFor(modelItem => d1)</span>
                                if (item.anonymous == true)
                                {
                                    <h4 class="name">Anonymous</h4>
                                }
                                else
                                {
                                    string name = @Model.users.FirstName + " "+@Model.users.LastName[0] + ".";
                                    <h4 class="name">@name</h4>
                                }

                                <span class="searchstars">@item.rating</span>
                                
                                if (@item.landlordname != null) 
                                { 
                                    <h4 class="miscinfo">Landlord: @item.landlordname</h4>
                                }
                                <br />

                                 <h4 class="reviewtext">@item.review1</h4>

                                <hr />
                            
                            }
                            @Html.PagedListPager((IPagedList)(@Model.PagedReviews), page => Url.Action("Details", new { @id = Model.propertyID, @pagenum = page }))

                        }
                        else
                        {
                            <p>No reviews for this landlord yet. Be the first!</p>
                            @Html.ActionLink("Write a Review", "Create", new { id = Model.propertyID })

                        }

                    </div>


                </div>
            </div>

            <div class="col-md-4">
                <div class="content-block">
                    <div class="map_container">
                        <div id="map-canvas" style="height:310px;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


<script>
    $(function() {
        $('span.searchstars').searchstars();
    });

    $.fn.searchstars = function () {
        return $(this).each(function() {
            // Get the value
            var val = parseFloat($(this).html());
            // Make sure that the value is in 0 - 5 range, multiply to get width
            var size = Math.max(0, (Math.min(5, val))) * 20;
            // Create stars holder
            var $span = $('<span />').width(size + "%");
            // Replace the numerical value with stars
            $(this).html($span);
        });
    }


    SetMapDetails(@Model.latitude, @Model.longitude);
 </script>
