@model landlorder.ViewModels.ReviewViewModel
@{
    ViewBag.Title = ViewBag.address + " landlord reviews | landlorder";
}


<div class="review-section">
    <div class="container">
        <div class="row">


            <div class="container">
                <div class="detailsheader">
                    <div class="detailsheading-wrap">
                        <div class="detail-items">

                            <div class="item col-md-12">
                                <div class="content">
                                    <h3 class="logintitle">@ViewBag.address</h3>
                                </div>                                
                                    <span><i class="fa fa-pencil"></i></span>
                            </div><!--//item-->
                            <hr />
                            <div class="detailitem-subitem">
                                <h5 class="logintitle">@ViewBag.address</h5>
                            </div>
                            <div class="detailitem-subitem">
                                <h5 class=" logintitle">
                                    @ViewBag.address
                                </h5>
                            </div>
                            <div class="detailitem-subitem">
                                <h5 class="logintitle">@ViewBag.address</h5>
                            </div>

                        </div>
                     </div>
                </div>
            </div>


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.propertyID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propertyID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.streetaddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.streetaddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.route)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.route)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.city)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.city)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.state)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.state)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.zip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.zip)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.apartmentnum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.apartmentnum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.latitude)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.latitude)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.longitude)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.longitude)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.reviews)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.reviews)
                    </dd>

                </dl>

            <p>
                @Html.ActionLink("Write a Review", "Create", new { id = Model.propertyID })
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
</div>