@model IEnumerable<landlorder.Models.Review>
@{
    ViewBag.Title = ViewBag.address + " landlord reviews | landlorder";
}


<div class="review-section">
    <div class="container-fluid">
        <div class="row">

            <div class="content-block">
                <div class="detailsheading-wrap">
                    <div class="detail-items">
                        <h3 class="detailitem-title">@ViewBag.address</h3>
                        <p class="reviewlink">
                            @Html.ActionLink("Write a Review", "Create", new { id = Model.First().propertyID })
                        </p>
                    </div>
                    <hr />

                    <div class="detailitem-subitem">
                        <div class="overall col-sm-1">
                            <h3>4.8</h3>
                            <p>Landlord Rating</p>
                        </div>

                        <div class="stats">
                            <div class="statsitem col-xs-1">
                                <h3>77</h3>
                                <p>Reviews</p>
                            </div>
                            <div class="statsitem col-xs-1">
                                <h3>4.8</h3>
                                <p>Repair Rating</p>
                            </div>
                            <div class="statsitem col-xs-1">
                                <h3>4.8</h3>
                                <p>Communication Rating</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="content-block">
                    <h4 class="rating-title">Reviews</h4>
                    <div class="details-iconholder">
                        <i class="fa fa-pencil"></i>
                        <span>77</span>
                    </div>
                    <hr />

                    <div class="review-block">
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.review1)
                            <hr />
                        }
                    </div>


                </div>
            </div>

            <div class="col-md-4">
                <div class="content-block">
                    <div class="map_container">
                        <div id="map-canvas" style="height:250px;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


<script>SetMap(@Model.First().Property.latitude, @Model.First().Property.longitude, "detailsmap");</script>
