@model IEnumerable<landlorder.ViewModels.ReviewViewModel>
@{
    ViewBag.Title = ViewBag.address + " landlord reviews | landlorder";
}


<div class="review-section">
    <div class="container-fluid">
        <div class="row">

            <div class="content-block">
                <div class="detailsheading-wrap">
                    <div class="detail-items">
                        <h3 class="detailitem-title">@ViewBag.address</h3>
                        <div class="details-iconholder">
                            <i class="fa fa-pencil"></i>
                            <span>77</span>
                        </div>
                        <hr />

                        <div class="detailitem-subitem">
                            <h3>4.8</h3>
                        </div>

                        <div class="detailitem-subitem">
                            <h5 class=" logintitle">
                                @ViewBag.address
                            </h5>
                        </div>
                        <div class="detailitem-subitem">
                            <h5 class="logintitle">@ViewBag.address</h5>
                        </div>

                    </div>
                </div>
            </div>

                <div class="col-md-8">
                    <div class="content-block">
                    <h4 class="rating-title">Reviews</h4>
                    <hr />
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.reviews)
                        }



                    </div>
                </div>

            <div class="col-md-4">
                <div class="content-block">
                    <div class="map_container">
                        <div id="map-canvas" style="height:250px;"></div>
                    </div>
                </div>
            </div>

            <p>
                @Html.ActionLink("Write a Review", "Create", new { id = Model.First().propertyID })
            </p>

        </div>
    </div>


</div>


<script>GenerateMap(@Model.First().latitude, @Model.First().longitude);</script>
