@model IEnumerable<landlorder.ViewModels.SearchResultsViewModel>


@{
    ViewBag.Title = "Search | landlorder ";
}

<div class="map_container">
    <div id="map-canvas" style="height:275px;"></div>
</div>
<h4 class="text-center">Landlords for "@ViewBag.location"</h4>
<div class="search_container" style="overflow: auto;">
   
    <div class="row-fluid">        

            @foreach (var item in Model)
            {
                <div class="item_holder">
                    @Html.DisplayFor(modelItem => item.streetaddress)

                    @Html.DisplayFor(modelItem => item.route)

                    @Html.DisplayFor(modelItem => item.state)

                    @Html.DisplayFor(modelItem => item.city)

                    <br />
                    <h5>Reviews:</h5>
                    @Html.DisplayFor(modelItem => item.numofReviews)
                </div>
                <hr />
            }
        @foreach (var item in Model)
        {
            <div class="item_holder">
                @Html.DisplayFor(modelItem => item.streetaddress)

                @Html.DisplayFor(modelItem => item.route)

                @Html.DisplayFor(modelItem => item.state)

                @Html.DisplayFor(modelItem => item.city)

                <br />
                <h5>Reviews:</h5>
                @Html.DisplayFor(modelItem => item.numofReviews)
            </div>
            <hr />
        }

        </ul>
    </div>
</div>











<script>initSearch();</script>





