@model IEnumerable<landlorder.ViewModels.SearchResultsViewModel>


@{
    ViewBag.Title =  ViewBag.location +  " Search | landlorder ";
}


<div class="searchwrapper">
    <div class="row nopadding">

        <div class="col-sm-8">
            <div class="map_container">
                <div id="map-canvas" class="map"></div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="search_container" style="overflow: auto;">

                @foreach (var item in Model)
                {
                    <div class="item_holder" onclick="MarkerZoomTo(26.340235, -80.2078849, 'fl')">
                        @Html.DisplayFor(modelItem => item.streetaddress)

                        @Html.DisplayFor(modelItem => item.route)

                        @Html.DisplayFor(modelItem => item.state)

                        @Html.DisplayFor(modelItem => item.city)

                        <br />
                        <h5>Reviews:</h5>
                        @Html.DisplayFor(modelItem => item.numofReviews)
                    </div>
                    <div class="seperator"></div>
                }
                @foreach (var item in Model)
                {
                    <div class="item_holder">
                        @Html.DisplayFor(modelItem => item.streetaddress)

                        @Html.DisplayFor(modelItem => item.route)

                        @Html.DisplayFor(modelItem => item.state)

                        @Html.DisplayFor(modelItem => item.city)

                        <br />
                        <h5>Reviews:</h5>
                        @Html.DisplayFor(modelItem => item.numofReviews)
                    </div>
                    <div class="seperator"></div>
                }
                @foreach (var item in Model)
                {
                    <div class="item_holder">
                        @Html.DisplayFor(modelItem => item.streetaddress)

                        @Html.DisplayFor(modelItem => item.route)

                        @Html.DisplayFor(modelItem => item.state)

                        @Html.DisplayFor(modelItem => item.city)

                        <br />
                        <h5>Reviews:</h5>
                        @Html.DisplayFor(modelItem => item.numofReviews)
                    </div>
                    <div class="seperator"></div>
                }
                @foreach (var item in Model)
                {
                    <div class="item_holder">
                        @Html.DisplayFor(modelItem => item.streetaddress)

                        @Html.DisplayFor(modelItem => item.route)

                        @Html.DisplayFor(modelItem => item.state)

                        @Html.DisplayFor(modelItem => item.city)

                        <br />
                        <h5>Reviews:</h5>
                        @Html.DisplayFor(modelItem => item.numofReviews)
                    </div>
                    <div class="seperator"></div>
                }

            </div>
        </div>

    </div>
</div>
















<script>initSearch();</script>





