<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/plugins")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    @Scripts.Render("~/bundles/googleaddressJS")


</head>
<body data-spy="scroll">
    <header id="header" class="header">
        <div class="container-fluid">
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">landlorder</span>
                </a>
            </h1><!--//logo-->
            <form method="get" action="/Reviews/Search">
                <div class="search-bar" id="searchDIV">
                    <div class="icon-search">
                        <i class="fa fa-search fa-md"></i>
                    </div>
                    <input type="text" placeholder="Search landlord reviews" autocomplete="off" name="locationinput" id="searchbar" class="search-item">
                </div>
            </form>

            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="/">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a href="/Home">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="/Home">Home</a></li>
                    </ul><!--//nav-->
                    @Html.Partial("_LoginPartial")
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->



    <div>
        <!--//beginning body-->
        @RenderBody()

        <hr /> <!--//end body-->
        <footer>
            <div class="container-fluid text-center">
                <p>&copy; @DateTime.Now.Year - landlorder - All Rights Reserved.</p>
            </div><!--//container-->
        </footer>
    </div>










</body>
</html>
