@model landlorder.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password | landlorder";
}

<div class="form-wrap">
    <div class="tabs-content">
        <section id="signupform">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()
                <h1 class="logintitle">Change Password</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="signup-form">
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input", @placeholder = "Old Password", @autocomplete = "off", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input", @placeholder = "New Password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", @placeholder = "Confirm Password", @autocomplete = "off" })
                    
                    <input type="submit" value="Submit" class="button" />
                </div>
                <hr />
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}