@model landlorder.Models.RegisterViewModel
@{
    ViewBag.Title = "Register | landlorder";
}


<div class="form-wrap">
    <div class="tabs-content">
        <section id="signupform">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Sign up for landlorder</h3>
                <h5 class="logintitle">Easily search & submit landlord reviews.</h5>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="signup-form">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "input", @placeholder = "Email", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @class = "input", @placeholder = "Password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", @placeholder = "Confirm Password", @autocomplete = "off" })

                    <input type="submit" value="Sign Up" class="button" />
                </div>
                <hr />
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
